body{
    border:3px solid rgb(12, 110, 156);
    width:600px;
    margin:10px;
}
form{
   display:block;
    margin:20px;
    width: 200px;
    height:600px; 
   
}
img{ 
    width: 600px;
    margin-left: -20px;
    margin-top:-20px;
    
}